<!--========= ISLOADING =========-->
<ng-container *ngIf="userSrvc.databaseSrvc.isloading">
    <!--Filter List-->
    <hr/>
    Loading Filter
    <hr/>
    <!--Data List-->
    Loading Content
</ng-container>

<!--========= LOADING DONE =========-->
<ng-container *ngIf="!userSrvc.databaseSrvc.isloading">
    <!--Filter List-->
    <hr/>
    <div style="display: flex;flex-direction: row;justify-content: space-around;width: 70%;">
        <mds-filter-checkbox style="display: flex;flex-direction: row;justify-content: space-around;width: 70%;"
            class="d-flex flex-column"
            [titlegroup]="'Filter by'"
            [closegroup]="'✕'"
            [classgroup]="'mb-3'"
            [reset]="'Reset All'"
            [filterData]="userSrvc.data"
            [filterBy]="filterBy"
            [filterSelected]="filterSelected">
        </mds-filter-checkbox>
    </div>
    <hr/>
    <!--Data List-->
    <ng-container *ngIf="userSrvc.data.length == 0">No data Found</ng-container>
    <ng-container *ngIf="userSrvc.data">
        Total Item/s {{(userSrvc.data|filter:filterSelected).length}}
        <ul style="display: flex; flex-direction: row; flex-wrap: wrap;">
            <li *ngFor="let a of (userSrvc.data|filter:filterSelected) | paginate: {itemsPerPage: 12, currentPage: page}; let i = index" style="flex: 1 0 21%;">
                <p>{{a.firstName +' '+ a.lastName}} - {{a.gender}} - {{a.status}} - {{a.group}}</p>
                <img [src]="a.img" style="width: 100px;"/>
            </li>
        </ul>
        <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </ng-container>
</ng-container>


<pre>Filter by: {{filterBy|json}}</pre>
<pre>Filter Selected: {{filterSelected|json}}</pre>
<pre>{{(userSrvc.data|filter:filterSelected)|json}}</pre>