<ng-container *ngIf="!data">
    Loading Data
</ng-container>

<ng-container *ngIf="data">
    <!--Filter List-->
    <hr/>
    <div style="display: flex;flex-direction: row;justify-content: space-around;width: 70%;">
        <filter-checkbox style="display: flex;flex-direction: row;justify-content: space-around;width: 70%;"
            Title="Filter by"
            [ListModel] ="data.products"
            [FilterModel]="filterBy"
            [FilteredModel]="filterSelected">
        </filter-checkbox>
    </div>
    
    <hr/>

    <!--Counter List-->
    <p>
        Total <ng-container *ngIf="(filterSelected|json) == '{}'">Semua</ng-container> Produk
        <ng-container *ngIf="(filterSelected|json) == '{}'">{{data.products?.length}} Item</ng-container>
        <ng-container *ngIf="(filterSelected|json) != '{}'">Terfilter {{(data.products|filter:filterSelected).length}} Item</ng-container>
    </p>

    <!--Data List-->
    <hr/>
    <div *ngIf="(data.products|filter:filterSelected).length == 0">Data Not Found</div>
    <ol><li *ngFor="let x of data.products | filter:filterSelected">{{x.name}} - {{x.sku}} <a routerLink="/produk/{{x.url}}">Detail</a></li></ol>
    <hr/>
</ng-container>

<pre>Filter List: {{filterSelected|json}}</pre>
<pre>
Auth As: {{auth.data?.role|json}}
Data: Data: {{data?.products|filter:filterSelected|json}}
</pre>