<ng-container *ngIf="!data">
    Loading Data
</ng-container>

<ng-container *ngIf="data">
    <!--Filter List-->
    <hr/>
    <div style="display: flex;flex-direction: row;justify-content: space-around;width: 70%;">
        <mds-filter-checkbox style="display: flex;flex-direction: row;justify-content: space-around;width: 70%;"
            class="d-flex flex-column"
            [titlegroup]="'Filter by'"
            [reset]="'Reset All'"
            [filterData]="data.products"
            [filterBy]="filterBy"
            [filterSelected]="filterSelected">
        </mds-filter-checkbox>
    </div>
    
    <hr/>

    <!--Counter List-->
    <p>
        Total <ng-container *ngIf="(filterSelected|json) == '{}'">Semua</ng-container> Produk
        <ng-container *ngIf="(filterSelected|json) == '{}'">{{data.products?.length}} Item</ng-container>
        <ng-container *ngIf="(filterSelected|json) != '{}'">Terfilter {{(data.products|mdsFilter:filterSelected).length}} Item</ng-container>
    </p>

    <!--Data List-->
    <hr/>
    <div *ngIf="(data.products|mdsFilter:filterSelected).length == 0">Data Not Found</div>
    <ol><li *ngFor="let x of data.products | mdsFilter:filterSelected">{{x.name}} - {{x.sku}} <a routerLink="/produk/{{x.url}}">Detail</a></li></ol>
    <hr/>
</ng-container>

<pre>Filter By: {{filterBy|json}}</pre>
<pre>Filter Selected: {{filterSelected|json}}</pre>
<pre>
Auth As: {{authSrvc.data?.role|json}}
Data: Data: {{data?.products|mdsFilter:filterSelected|json}}
</pre>