<!-- NO AUTH -->
<ng-container *ngIf="!_auth.isAuth">
    <div *ngIf="pop==''">
        <h3>Login</h3>
        <form #loginForm="ngForm" (ngSubmit)="masuk(loginForm.value)">
            <input type="email" placeholder="email" name="email" ngModel #email="ngModel" required/>
            <ng-container *ngIf="email.errors && email.dirty">
                <span class="input-error" *ngIf="email.errors?.required">Email is required</span>
            </ng-container>
            <input type="password" placeholder="password" name="password" ngModel #password="ngModel" required/>
            <ng-container *ngIf="password.errors && password.dirty">
                <span class="input-error" *ngIf="password.errors?.required">Password is required</span>
            </ng-container>
            <button [disabled]="!loginForm.form.valid">Masuk</button>
        </form>
        <a href="javascript:void(0)" (click)="pop='reset'">Forgot Password</a> | <a href="javascript:void(0)" (click)="pop='register'">Register</a>
    </div>
    <div *ngIf="pop=='reset'">
        <h3>Reset Password</h3>
        <form #resetPasswordForm="ngForm" (ngSubmit)="resetSandi(resetPasswordForm.value)">
            <input type="email" placeholder="email" name="email" ngModel required/>
            <button>Reset</button>
        </form>
        <a href="javascript:void(0)" (click)="pop=''">Cancel</a>
    </div>
    
    <div *ngIf="pop=='register'">
        <h3>Register</h3>
        <form #registerForm="ngForm" (ngSubmit)="daftar(registerForm.value)">
            <input type="email" placeholder="email" name="email" ngModel/>
            <input type="password" placeholder="password" name="password" ngModel/>
            <button>Regsiter</button>
        </form>
        <a href="javascript:void(0)" (click)="pop=''">Cancel</a>
    </div>
</ng-container>

<!-- ON AUTH -->
<ng-container *ngIf="_auth.isAuth">
    <h3>My Account</h3>
    <form (ngSubmit)="perbaharuiData()">
        <input type="text" placeholder="John Doe" name="fullname" [(ngModel)]="_auth.data.fullname" />
        <input type="email" placeholder="email" name="email" [(ngModel)]="_auth.data.email" />
        {{_auth.data.datecreate|date}}<br/>
        <button type="submit">Update</button> <button type="button" (click)="keluar()">Keluar</button>
    </form>
</ng-container>


<span *ngIf="_auth.message">{{_auth.message}} <a href="javascript:void(0)" (click)="removeMessage()">✕</a></span>

<pre>{{_auth|json}}</pre>